{% extends 'base/index.html' %}
{% load static %}
{% block title %}
    Profile Update
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="form" style="flex-direction: column;">
        <h2 style="text-align: center;">Profile </h2>
        <form method="post" action="{% url 'profile' user.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Update Profile"/>
        </form>
    </div>

{% endblock %}