{% extends 'base/index.html' %}
{% load static %}
{% block title %}
    Create Category
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="form" style="flex-direction: column;">
        <h2 style="text-align: center;">Create Category</h2>
        <form method="post" action="{% url 'create category' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Create Ad"/>
        </form>
    </div>
{% endblock %}