{% extends 'base/index.html' %}
{% load static %}
{% block title %}
    Marketplace

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/marketplace.css' %}">
    <link rel="stylesheet" href={% static '/css/bootstrap2.css' %}>
    <link rel="stylesheet" href={% static '/css/ui.css' %}>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true"
                               class="">
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="card-body">
                            <ul class="list-menu">
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'marketplace category' category.slug %}">{{ category.name }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>

                </div>
            </aside>
            <main class="col-md-9">
                <div class="row">
                    {% for product in object_list %}
                        <div class="col-md-4">
                            <figure class="card card-product-grid">
                                <div class="img-wrap"> {# to see if it has css #}
                                    <img src="{{ product.thumbnail.url }}">
                                </div>
                                <figcaption class="info-wrap">
                                    <div class="fix-height">
                                        <a href="#" class="title">{{ product.title }}</a>
                                        <div class="price-wrap mt-2">
                                            <span class="price">{{ product.price }}</span>
                                        </div>
                                    </div>
                                    <a href="{% url 'product details' product.pk %}" class="btn btn-block button">
                                        See Details
                                    </a>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>

{% endblock %}